a {
    text-decoration: none;
}

body {
    background: #EEE1C6;
    background-repeat: no-repeat;
}

label {
   font-family: "Raleway", sans-serif;
   font-size: 11pt;  
}

#card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
    left: 50%;
    top: 50%; 
    height: 410px;
    width: 330px;
    margin-top: -205px;
    margin-left: -115px;
    position: fixed;
}

#card-content {
    padding: 12px 44px;
}

#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center; 
}

#signup {
    color: #16a085;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}

#submit-btn {
    background: #00471B;
    border-radius: 21px;
    border: none;
    cursor: pointer;
    color:#FFF;
    font-family: "Raleway Semibold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}

#submit-btn:hover {
    box-shadow: 0px 1px 18px #ffffff;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    height: 1px;
    width: 100%;
    background: #00471B;
}

.form-content {
    background: #fff;
    border: none;
    outline: none;
    padding-top: 14px;
}

.underline-title {
    background: #00471B;
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
} 

.success {
    background-color:#00471B;
}

.error {
    background-color: #AC1A2F;
}

.alert {
    padding: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: "Raleway Semibold", sans-serif;
    text-align: center;
    position: fixed;
    width: 310px;
    margin-left: -115px;
    left: 50%;
    top: 10%;
    transition: 0.2s;
  }

.closebtn {
    margin-left: 15px;
    color: #FFF;
    font-weight: bold;
    float: right;
    font-size: 10pt;
    line-height: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.closebtn:hover {
    color: black;
}